 <ion-modal-view>
    <ion-header-bar class="bar-dark">
    <h1 class="title">Addjob</h1>
    <div class="buttons">
      <button ng-click="modal.hide()" class="button button-clear">Close</button>
    </div>
  </ion-header-bar>
    <ion-content class="gray">
		  <div class="list card">
               <div class="item item-body">
			  	<h2>Add New Job :</h2>
			  </div>
              <label class="item item-input item-floating-label">
                  <span class="input-label">Title</span>
                  <input type="text" placeholder="Title">
              </label>
              <label class="item item-input item-floating-label">
                  <span class="input-label">Description</span>
                  <input type="text" placeholder="Description">
              </label>
              <label class="item item-input item-floating-label">
                  <span class="input-label">Reference</span>
                  <input type="text" placeholder="Reference Link">
              </label>
              
              <label class="item item-input item-floating-label">
                  <span class="input-label">Territory</span>
                  <input type="text" placeholder="Territory">
              </label>
              <label class="item item-input item-floating-label">
                  <span class="input-label">Deadline</span>
                  <input type="text" placeholder="Deadline (for delivery)">
              </label>
              <label class="item item-input item-floating-label">
                  <span class="input-label">Budget</span>
                  <input type="text" placeholder="Budget">
              </label><br>
              <div class="list">
                 <label class="item item-input item-select">
                  <span class="input-label">Artist You Need</span>
                  <select>
                      <option>Red</option>
                      <option>Green</option>
                      <option>Blue</option>
                  </select>
              </label>
              </div>            
              <div class="item">
                 <button class="button button-block button-dark">Submit</button>
              </div>
          </div>
      </ion-content>

</ion-modal-view>