<ion-view>
 <ion-content scroll="false">
  <ion-slides  options="options" slider="data.slider">
    <ion-slide-page>
      <div class="box blue"><h1>BLUE</h1></div>
      <a class="button button-dark" ng-click="skip()" >skip</a>
    </ion-slide-page>
    <ion-slide-page>
      <div class="box yellow" ><h1>YELLOW</h1></div>
            <a class="button button-dark" ng-click="skip()" >skip</a>

    </ion-slide-page>
    <ion-slide-page>
      <div class="box pink"><h1>PINK</h1></div>
            <a class="button button-dark" ng-click="skip()" >skip</a>

    </ion-slide-page>
  </ion-slides>
</ion-content>
</ion-view>