<ion-view hide-nav-bar="true">
 <ion-content scroll="false">
  <ion-slides  options="options" slider="data.slider">
    <ion-slide-page>
        <div class="intro-image">
            <div class="image_container">
                <img src="../img/285162.jpg" />
                <button class="button button-clear button-dark view_btn" ng-click="skip()" >skip</button>
            </div>
        </div>
    </ion-slide-page>
    <ion-slide-page>
      <div class="image_container">
                <img src="../img/294295.jpg" />
                <button class="button button-clear button-dark view_btn" ng-click="skip()" >skip</button>
            </div>
      </ion-slide-page>
    <ion-slide-page>
      <div class="image_container">
                <img src="../img/598033.jpg" />
                <button class="button button-clear button-dark view_btn" ng-click="skip()" >skip</button>
            </div>
    </ion-slide-page>
  </ion-slides>
</ion-content>
</ion-view>