<ion-view title="Job">
	<!--news feed section-->
 <ion-pane>
      <ion-header-bar class="bar-dark">
        <h1 class="title">Jobs</h1>
		  <button class="button button-icon icon icon-left ion-chevron-left">Back</button>
		  <button class="button button-clear white">Edit</button>
      </ion-header-bar>
      <ion-content>
			<div class="list">
				<div class="list black">
				<img src="img/IMG_4194.JPG" class="job-img">
				<div class="item item-avatar lol">
                    <img class="profile-img" src="{{currentuserMini.ProfilePicture}}">
					<h2>{{currentuserMini.displayName}}</h2>
					<p>November 05, 1955</p><br>
                    <div class="button-bar">
					   <a class="button button-small button-balanced button-dark"><i class="ion ion-checkmark"></i> Bid</a>
					</div>
				</div>
				</div>
				<div class="item item-body black desc">
                    <h2>Job Title : {{jobData.title}}</h2>
					<br>
					<h2>Description : </h2>
					<p>
					{{jobData.description}}</p>
					<br>
					<div class="list">
					  <div class="item item-divider">
						<div class="row"> 
							<div class="col-33 border-right"> <i class="icon ion-clock"></i> Duration</div>
							<div class="col-33 border-right"> <i class="icon ion-bag"></i> Budget</div>
							<div class="col-33"> <i class="icon ion-location"></i> Location</div>
						</div>
					  </div>
						<div class="item item-divider">
						<div class="row">
							<div class="col-33 border-right">{{jobData.time}}Weeks</div>
							<div class="col-33 border-right">{{jobData.Budget}}LE</div>
							<div class="col-33">Cairo</div>
						</div>
					  </div>
					</div>
					<h2>Bidders : {{bidsCount}}</h2>
					<div  ng-repeat="bid in jobData.bids">
						<ion-scroll direction="x" class="item wide-item black">
							<img src="{{bid.picture}}">
						</ion-scroll>
						</div>
				</div>
		  </div>
		  <div class="list card">
			  <div class="item item-body">
			  	<h1>People :</h1>
			  </div>
			   <div class="item item-avatar" ng-repeat="bid in jobData.bids">
					<img src={{bid.picture}}>
					<h2>{{bid.name}}</h2>
					<p>{{bid.bidDesc}}</p>
		   		<p>{{bid.amount}}</p>
			   	<hr>
				   	<div class="button-bar">
					   <a class="button button-small button-balanced"><i class="ion ion-checkmark"></i> Accept</a>
					   <a class="button button-small button-positive"><i class="ion ion-chatboxes"></i> Message</a>
					</div>
			  </div>
		  </div>
      </ion-content>
    </ion-pane>
	<!--end button section-->
</ion-view>