<!--View Information-->
<!--View name : Online Course-->
<!--State name : app.onlineCourse-->
<!--URL : #app/onlineCourse-->

<!--Online course section-->
<ion-view title="jobs" id="online-course">
    <ion-content id="online-course-content">
        <!--toolbar section-->
        <md-toolbar class="bar-subheader md-tall md-primary toolbar-online-course ">
          

        </md-toolbar> <!--end toolbar section-->
        <div class="course-list">

            <!--content item section-->
            <div class="course-item" ng-repeat="job in userJobs">
                <div class="title angular-course-background">
                    {{job.title}} 
                </div>
                  
                <div class="content">
              
                
                    <h1>
                          {{job.description}} 
                    </h1>

                    <p>
                   categorie :  {{job.categorie}} 
                    </p>

                    <p>
                        <a ng-click="gotoDetail($index)" class="md-raised md-button md-default-theme angular-course-background">
                            <i class="fa fa-play"></i> Detail</a>
                        <a href="" class="md-raised md-button md-default-theme angular-course-background">
                            <i class="fa fa-bookmark"></i>2 biders</a>
                    </p>
                </div>
            </div> <!--end content item section-->

         
           
        </div>
    </ion-content>
    <div class="footer-fab-bar">
        <a class="md-button md-accent md-fab fab-footer" aria-label="Add">
            <i class="ion-android-star"></i>
        </a>
    </div>

</ion-view><!--end online course section-->