<ion-view view-title="profile">
    <div class="list">
        <div class="list black user-profile">
            <img src="http://cdn30.us1.fansshare.com/image/blackandwhite/black-and-white-city-bird-people-black-and-white-227371976.jpg" class="job-img">
            <div class="item item-avatar lol tag">
                <img class="profile-img" src="{{profileData.ProfilePicture}}">
                <h2>{{profileData.displayName}}</h2>
                <div class="titles"><span  ng-repeat="cat in profileData.Catgories">{{cat}}</span> </div>
            </div>
        </div>
    </div>
          
          <div class="tabs tabs-striped tabs-top  nav-tabs">
              <a class="tab-item" ng-class="{active:isSelected('About')}" ng-click="profileTabs('About')"  >
                  About
              </a>
              <a class="tab-item"  ng-class="{active:isSelected('yard')}" ng-click="profileTabs('yard')" >
                  My Yard
              </a>
              <a class="tab-item" >
                  Requests
              </a>
             <a class="tab-item">
                  Biddings
              </a>     
          </div>

        
          <div ng-show="showYard" class="nav-content">
              <div class="row ">

                  <div ng-repeat="picture in profileData.profilePictures" class="col-33 images"><img src="{{picture}}"></div>
                  <div ng-click="addImage()" class="col-33 add-image"><a>
                      <i class="icon ion-plus"></i>
                      </a>
                  </div>
              </div> 
          </div>
              <div ng-show="showAbout">{{state}}</div>
                <div class="tabs tabs-icon-only">
              <a class="tab-item active">
                <i class="icon ion-home"></i>
              </a>
              <a class="tab-item">
                <i class="icon ion-chatbox-working"></i>
              </a>
              <a class="tab-item">
                <i class="icon ion-plus"></i>
              </a>
              <a class="tab-item">
                <i class="icon ion-ios-bell"></i>
              </a>
               <a class="tab-item">
                <i class="icon ion-android-person"></i>
              </a>
          </div>    

</ion-view>