<ion-view view-title="categories">
	<ion-content>
		<ion-list>
			<ion-checkbox >Art director</ion-checkbox>
			<ion-checkbox >Fashion stylist</ion-checkbox>
			<ion-checkbox >Food stylist</ion-checkbox>
			<ion-checkbox >Makeup artist </ion-checkbox>
			<ion-checkbox >Nail artist</ion-checkbox>
			<ion-checkbox >Model</ion-checkbox>
			<ion-checkbox >Video editor </ion-checkbox>
			<ion-checkbox >Graphic designers</ion-checkbox>
			<ion-checkbox >Animators </ion-checkbox>
			<ion-checkbox >3D designers </ion-checkbox>
			<ion-checkbox >Film director </ion-checkbox>
		</ion-list>
	</ion-content>
</ion-view>