<ion-view view-title="Add tfp">
<ion-content class="gray">
    <div class="list card model-info">
        <div class="item item-avatar" >
            <a href="">  <img src="../img/logo.png"> </a>
            <h2>Louay Nasser</h2>
            <p>24/10/2017</p><hr>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <div class="col-33 col-offset-67 gray"><button    class="button button-small button-clear button-positive">
                See more..
                </button>
            </div>
        </div>
    </div>
    <div class="list card model-info">
        <div class="item item-avatar" >
            <a href="">  <img src="../img/logo.png"> </a>
            <h2>Louay Nasser</h2>
            <p>24/10/2017</p><hr>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <div class="col-33 col-offset-67 gray"><button    class="button button-small button-clear button-positive">
                See more..
                </button>
            </div>
        </div>
    </div>
    <div class="list card model-info">
        <div class="item item-avatar" >
            <a href="">  <img src="../img/logo.png"> </a>
            <h2>Louay Nasser</h2>
            <p>24/10/2017</p><hr>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <div class="col-33 col-offset-67 gray"><button    class="button button-small button-clear button-positive">
                See more..
                </button>
            </div>
        </div>
    </div>
    
    </ion-content>
</ion-view>