.center-form {
  width: 315px;
  margin: 10% auto;
}
.signup-or-separator {
  position: relative;
  height: 29px;
  margin: 5px 0;
  text-align: center;
  background: none;
}

.signup-or-separator hr {
  width: 90%;
  margin: -16px auto 10px auto;
  border-top: 1px solid #dce0e0;
}

.signup-or-separator .text {
  display: inline-block;
  padding: 8px;
  margin: 0;
  background-color: #fff;
}




.has-feedback .form-control-feedback {
  bottom: 5;
  left: 0;
  width: 46px;
  line-height: 46px;
  color: #555;
}


.has-feedback .form-control {
  padding-left: 42px;
  padding-top: 21px;
  
}
.btn-instagram {
  color: #fff;
  background-color: #fbad50;
  border: 1px solid #fccc63;
  margin-bottom: 9px;
	
}
.btn-facebook {
	
  color: #fff;
  background-color: #517fa4;
  border: 1px solid #456c8c;
	 
}

.text-muted {
  color: #90939a;
}
.menuAvatar {
	background-image: url(http://cdn30.us1.fansshare.com/image/blackandwhite/black-and-white-city-bird-people-black-and-white-227371976.jpg);
    padding-bottom: 10px;
} 
.menutext {
	color: dimgrey!important;
	font-size: 25px !important;
    margin-left: 15px;
}
span.title
{
    font-size: 15px !important;
}
.white
{
    color: white; 
}
.black
{
	padding-top: 0px;
	background-color: white;
	border: 0px;
}
.black h2
{
	font-size: 22px;
	color: black;;
	text-shadow: 0px 1px 60px rgba(255,255,255,0.5);
}
.lol img 
{
    width: 50% !important;
}
ion-content
{
	background-color: white;
}
.card
{	
	position: relative;
}
table
{
	border: 1px solid white;
}
.item-avatar .profile-img
{
    height: 70% !important;
    width:20% !important;
    max-height: 100% !important;
    max-width: 100% !important;
}
ion-scroll img
{
	margin-right: 1%;
	width: 15%;
    border-radius: 50%;
}
.list .job-img
{
	width: 100%;
	height: 300px;
	clip-path: polygon(0% 0%, 0% 80%, 100% 50%, 100% 0%);
	z-index: 1;
}
.lol
{
	background-color: rgba(255,255,255,0.0);
	border: 0px;
	position: absolute;
	top: 65%; 
	left: -0%;  
    width: 100%;
}
.lol h2, .lol p
{
    
    margin-left: 10%;
    color: black;
}
.tabs
{
    position: fixed !important;
    bottom: 0px !important;
}
.lol a
{
    margin-left: 50%;
}
.border-right
{
    margin-right: 5%;
}
ion-content.gray
{
    background-color: dimgray;
}
.list label input
{
    width: 80%;
}
.list label input:focus 
{  
    width: 95%;
    border-bottom: 3px solid gray;
    transition: width 1s;
}
.list label textarea
{
    max-width: 98%;
}
.nav-tabs
{
    background-color: white;
    margin-top: 65%;
}
.nav-content
{
    margin-top: 12%;
}
.nav-content img
{
    width: 100%;
}
.accept-button
{
    border: 1px solid black;
}
.menu {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 50px;
    background: rgba(82,179,217,0.9);
    z-index: 100;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.back {
    position: absolute;
    width: 90px;
    height: 50px;
    top: 0px;
    left: 0px;
    color: #fff;
    line-height: 50px;
    font-size: 30px;
    padding-left: 10px;
    cursor: pointer;
}
.back img {
    position: absolute;
    top: 5px;
    left: 30px;
    width: 40px;
    height: 40px;
    background-color: rgba(255,255,255,0.98);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    margin-left: 15px;
    }
.back:active {
    background: rgba(255,255,255,0.2);
}
.name{
    position: absolute;
    top: 3px;
    left: 110px;
    font-family: 'Lato';
    font-size: 25px;
    font-weight: 300;
    color: rgba(255,255,255,0.98);
    cursor: default;
}
.last{
    position: absolute;
    top: 30px;
    left: 115px;
    font-family: 'Lato';
    font-size: 11px;
    font-weight: 400;
    color: rgba(255,255,255,0.6);
    cursor: default;
}
.tag span, .tag h2
{
    margin-top: 20px;

    color: black;
}
.tag .titles
{
    margin-left: 20px;
}
.tag span
{
    margin-left: 5px;
    border-radius: 50px;
    background-color: lightgray;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid lightgray;
}
.images 
{
    height: 120px;
    border: 1px solid transparent;
}
.images img
{
    height: 100%; width: %; object-fit: cover;
}

.add-image
{   
    font-size: 20px;
    padding-top: 50px;
    padding-left: 50px;
    border: 1px dashed lightgray;

}
.add-image a
{
    color: gray;
}
.item-avatar img
{
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 5px;
    right: 0;
    font-size: 36px;
    max-width: 60px;
    max-height: 60px;
    width: 100%;
    border-radius: 50px;
}
.menuAvatar img
{
    margin-top: 55px;
    margin-left: 15px;
    font-size: 36px;
    max-width: 70px;
    max-height: 70px;
    width: 100%;
    border-radius: 50px; 
}
.login label input
{
    background-color: transparent;
}
.padding-bottom
{
    padding-top: 6px !important;
    padding-bottom: 50px !important;
}
.page-bottom
{
    top: 75px;
    bottom: 0 !important;
}
.image_container{
	position:relative;	
}
.image_container .view_btn{
	position:absolute !important;
	left:0;
	top:0;
}
.hide {
	  display: none  !important;
}